.analytics {
	display: flex;
	align-items: start;
	justify-content: start;
	gap: 25px;
	flex-direction: column;
	max-height: calc(100dvh - 75px);
	overflow-y: auto;
	overflow-x: visible;
	padding-bottom: 50px;
	padding: 0 5px 50px 5px;
}
.analytics {
	scrollbar-width: none;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.analytics::-webkit-scrollbar {
	display: none;
}
.analytics h1 {
	padding: 15px 0;
	color: var(--text-primary);
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
}
.project_manager {
	display: flex;
	gap: 10px;
}
.project_manager_text h2 {
	font-weight: 500;
	font-size: 24px;
	color: var(--text-primary);
}
.project_manager_text p {
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: var(--text-primary-80);
}
